<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>About  page</title>
</head>
<body>
    <header>
        <a href="" class="logo"><img src="logo.png" alt=""> <span>Icy Leaf Earphones</span></a>
    
        <ul class="navbarr">
            <li><a href="homepage.html" class="active">Home</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="Earphones.html">Earphones</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    
        <div class="mainn">
            <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <a href="https://www.behance.com/" class="behance"><i class="bi bi-behance"></i></a>
            <bi class="bi-list" id="menu-icon"></bi>
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
                     
        
                                                                    
        </p>   
        <h1 class="About-us">About Us </h1>
        <p>
        Hello, My name is Nebaye Seleba, and I am the creator of Icy Leaf Earphones. The goal of my business is to provide comfortable, and reliable earphones that meet the needs of all earphone users. I am 16 years old, and I am from Hercules California, and I am apart of the hidden Genius Project
        My original backstory as to why I decided to create these earphones was because lots of earphones couldn't fit my ears no matter the size. To combat this I decided to add a feature to the earphones that allows you to press a button to help the earphones expand, and retract. This will help the earphones fit the persons ear no matter the size of their ear.
                     Some other major features that come with these earphones are the noise cancellation, and waterproof features. </p>
        <h1 class="Mission"> Mission Statement </h1>
    <p align="center"> Leaf Earphones provide comfortability, and reliability to help music lovers express creativity through sound.</p>                                                
                                                                    
    <img src="iceyleaflogo-removebg-preview.png">  
   

</body>
</html>