<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

    
</head>
<body>
    <header>
        <a href="" class="logo"><img src="logo.png" alt=""> <span>Icy Lead Earphones</span></a>
    
        <ul class="navbarr">
            <li><a href="homepage.html" class="active">Home</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="Earphones.html">Earphones</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    
        <div class="mainn">
            <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <a href="https://www.behance.com/" class="behance"><i class="bi bi-behance"></i></a>
            <bi class="bi-list" id="menu-icon"></bi>
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<section>
    <div class="pictures">
    <img src="black-earphones.png" height="400" width="350">
    <h3>Black earphones</h3>
    <p>$59.99</p>
  
      <img src="Copperearphones.png" height="400" width="350">
      <h3>Copper earphones</h3>
      <p>$59.99</p>
  
 
      <img src="MetallicRedEarphones.png" height="400" width="350">
      <h3> Red Earphones</h3>
      <p>$59.99</p>
      </div>

    </section>
 
  <section class="earphones">
      <div class="pictures">
      <img src="BlueEarphones.png" height="400" width="350">
      <h3>Blue Earphones</h3>
      <p>$59.99</p>

      <img src="WhiteEarphones.png" height="400" width="350">
      <h3>White Earphones</h3>
      <p>$59.99</p>
  
  
      <img src="PinkEarphones.png" height="400" width="350">
      <h3>Pink Earphones</h3>
      <p>$59.99</p>
 
      </div>
  
</section>

    </body>
    </html>
     

  
  
     