<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

    <style>
      body{
          background-image: url(BlackEarbuds.png);
          background-repeat: no-repeat;
          background-position: center;
          background-attachment: fixed;
          background-size: cover;
      }
  </style>
</head>

<body>
  <header>
    <a href="" class="logo"><img src="logo.png" alt=""> <span>Icy Leaf Earphones</span></a>

    <ul class="navbarr">
        <li><a href="homepage.html" class="active">Home</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="Earphones.html">Earphones</a></li>
        <li><a href="login.html">Login</a></li>

    

    </ul>

    <div class="mainn">
        <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="https://www.behance.com/" class="behance"><i class="bi bi-behance"></i></a>
        <bi class="bi-list" id="menu-icon"></bi>
    </div>
</header>
<div class="header-icons">
  <i class="bx bx-cart"></i>
  <div class="bx bx-menu"></div>
  </div>
</div>
</header> 
<br>
<br>
<br>
<br>  
<br>  
<br>  
<script>
  var menuitem = document.getElementById('menuitem');
  menuitem.style.maxHeight = "0px";

  function menutoggle() {
    if (menuitem.style.maxHeight = "0px") {
      menuitem.style.maxHeight = "600px"
    } else {
      menuitem.style.maxHeight = "0px";
    }
  }

  window.addEventlistener ("scroll"), function() {
    var header = document.querySelector("header");
    header.classList.toggle("sticky", window.scroll > 50);
  }
    </script>
   <div class = "Section1">
    <h1>Icy Leaf Earphones </h1>

   </div>

   <div class = "Section1">
    <h2>The earphones of the future</h2>

   </div>


   <div class = "Section1">
    <h3> </h3>

   </div>



   <div class = "Section1">
   

   </div>

   <div class="redearphone">
    <img src="MetallicRedEarphones.png" height="700" width="650">
    </div>
        </body>
    </html>
  


  
   
     
      
    